@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#72b7e6,#9b59b6);

}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}

.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;

}

.userdetails{
    display: flex;
    flex-wrap: wrap;
     justify-content:space-between;
     margin:20px 0 12px 0 ;
}

.inputbox{
    margin: 15px;
    margin: 20px 0 12px 0;
    width:calc(100% / 2 - 20px);
}

input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px ;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.details{
    font-weight: 500;
    margin-bottom: 5px;
    display: flex;
}

input:focus,input:valid{
border-color:#9b59b6
}

.gender-title{
    font-size: 20px;
    font-weight: 500;
}

.category{
    display:flex ;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}


label{
    display: flex;
    align-items: center;
}
.dot{
    height: 18px;
    width: 18px;
    background: #9d9d9d;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;

}
#dot-1:checked ~ .category label .one,
    #dot-2:checked ~ .category label .two,
        #dot-3:checked ~ .category label .three{
    border-color:#9d9d9d;
    background: black;
        }


form input[type="radio"]{
    display: none;
}


.button{
    height:45px;
    margin: 45px 0;
}
form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    color:#fff;
    border:none;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 500;
    background: linear-gradient(135deg,#72b7e6,#9b59b6);
}


form .button input:hover{
    background: linear-gradient(-135deg,#72b7e6,#9b59b6);
}
@media(max-width:584px){
    .container{
        max-width: 100%;
    }
    .inputbox{
        margin-bottom: 15px;
        width:100%;
    }
    .category{
        display:flex;
        width:80%;
    }
    .userdetails{
        max-height: 300px;
        overflow-y: scroll;
    }
    
}



